
.header-container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    height: 80vh;
    text-align: center;
}
.header-container-info{
    margin: 1rem 0;
}
.header-container-1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 250px;
    border-radius: 50%;
}

.header-container-2 a{
    margin-right: 20px;
    font-size: 29px;
}
.header-container-2 p span{
  color: rgb(140, 3, 3);
  font-weight: bolder;
}
.header-container-3{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-size: 29px;
}
.header-container-3 span{
    font-weight: 100;
    margin-right: 20px;
}
.header-container-3 h3{
    margin-right: 10px;
}
/* Tablet CSS */
@media (min-width: 768px) {
    .header-container {
      margin: 8rem 2rem;
      padding: 10px;
    }
  
    .header-container-info {
        display: flex;
        justify-content: space-around;
    }
  
    .header-container-1 img {
      margin-top: 0;
      margin-right: 2rem;
      width: 300px;
      height: 300px;
    }
   .header-container-2{
    float: right;
    margin-right: 1rem;
   }
    .header-container-2 a {
      margin-right: 20px;
      font-size: 32px; 
    }
  
    .header-container-3 {
      margin: 10px;
      align-self: center;
      padding-left: 8rem;
      gap: 20px;
    }
  
    .header-container-3 span {
      margin-right: 30px;
    }
  
    .header-container-3 h3 {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .header-container {
      margin: 6rems autos;
    }
  
    .header-container-info {
        display: flex;
        justify-content: space-around;
        margin: 1rem auto 0 auto;
    }
  
    .header-container-1 img {
      width: 330px; 
    }
  
    .header-container-2 a {
      font-size: 30px; 
    }
    .header-container-2 h1{
        font-size: 2rem;
    }   
    .header-container-2 p{
        font-size: 20px;
    }
  
    .header-container-3 {
      margin-right: 20px;
      margin-top: 0;
      font-size: 2rem;
    }
  
    .header-container-3 span {
      margin-right: 40px;
    }
  
    .header-container-3 h3 {
      margin-right: 30px;
    }
  }
  